= Loopback Test Device
The loopback test device helps test the Parallel I/O device. It simply XORs the two sets of output signals,
`pout` and `penable`,
and feeds them back to `pin`, the PIO device's input lines.
The loopback device does not have any registers or configurable parameters of its own.
