= Parallel I/O (PIO)

The {{ product_name }} contains {{ devices|length|english_number }} parallel I/O (PIO) block{{ devices | pluralize }} for simple parallel input/output.
The PIO block is further described in <<chapter-pio>>.
