
{{ devices|length|english_number|capitalize}} Parallel I/O peripheral{{ devices|pluralize(" (PIO) is,s (PIO) are")}}
available and provide{{ devices|pluralize("s,") }} a means for parallel communications.
The PIO peripheral{{ devices|pluralize(" is,s are") }} described in <<chapter-pio>>.